<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <center>
        <nav>
            <ul>
                <font size="+2.5">
                    <li>
                        <a title="Hash MD5" target="_blank" href="../md5.html">MD5</a>
                    </li>
                    <li>
                        <a title="Hash SHA-256" target="_blank" href="../sha-256.html">SHA-256</a>
                    </li>
                    <li>
                        <a title="Hash SHA-3" target="_blank" href="../sha-3.html">SHA-3</a>
                    </li>
            </ul>
        </nav>
    </center>
</body>

</html>